h5{
    font-size: 15px;
    margin-top: 0px;
}
@media screen and (max-width: 700px) {
p{
    font-size: 16px;
  }
  .justified-text span{
    font-size: 16px;
  }
  button {
    font-size: 16px;
  } 
  a{
    font-size: 16px;
  }
  h1, .blogtitle{
    font-size: 20px;
  }
  .tiny{
    font-size: 12px;
  }
}