body {
    overflow-x: hidden;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    background-color: black;
    margin: 0;
    /* color: black; */
    font-weight: 600;
    color-scheme: light dark;
    /* font-synthesis: none; */
    /* text-rendering: optimizeLegibility; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
  }