#menu p{
    color: black;
    
}
@media screen and (max-width: 1150px){
  
    #menu p{
        color: black;
        margin-top: 7px;
    }
    body.ios #menu p{
        color: black;
        margin-top: 3px;
    }
}