.about-body{
    margin: 0;
}
.hidden{
    display: none;
    img{
        display: none;
    }
}
.hide{
    display: none;
    img{
        display: none;
    }
}
.heee{
    height: 90vh;
    margin: 0;
}
@media screen and (max-width: 900px) {
    .image-no-search {
        display: flex;
        justify-content: center;
        /* padding-top: 430px; */
        margin: 0;
        width: 80%;
        img {
          /* max-width: 70%; */
            margin-left: -20px;
            margin-right: -20px;
          /* padding-left: 30px;
          padding-right: 30px; */
        }
      }
    
}
