.about-body{
    margin: 0;
    overflow-x: hidden;
}
.hidden{
    display: none;
    img{
        display: none;
    }
}
.hide{
    display: none;
    img{
        display: none;
    }
}
.heee{
    height: 90vh;
    margin: 0;
    width: 100%;
}
@media screen and (max-width: 600px) {
    #noResults{
        margin: 0;
    }
    #noResults div img{
        height: 200%;
        width: 95%;
        margin-left: -20px;
    }
    .image-no-search {
        display: flex;
        justify-content: center;
        /* padding-top: 430px; */
        margin: 0;
       
        img {
          /* max-width: 70%; */
             /* margin-left: 50px; */
            /* margin-right: -20px; */
            width: 100%;
          /* padding-left: 30px;
          padding-right: 30px; */
        }
      }
    
}

